@media (width > 768px ) {
    header{
       column-gap: 400px;
    }
    .header1 {
       margin-top: 31px;
    }
    .header2but {
        margin-top: 24px;
    }
    .box1 {
        margin-left: -250px;
        margin-top: 104px;
    }
    .box1-2 {
        width: 398px;
    }
    .box2 { 
        margin-top: -654px;
        margin-left: 462px;
    }
    .girlback {
        width: 216.54px;
        height: 382.531px;
        border-radius: 158.5px;
    }
    .girlimg75 {
        width: 216.54px;
        height: 382.531px;
        border-radius: 150px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .course {
        margin-top: -67px;
    }
    .member {
        margin-top: -393px;
    }
    .box3 {
        display: grid;
        margin-top: 286px;
        grid-template-areas:'pirveli meore'
                            'mesame meotxe'
                            'mexute meeqvse';
        row-gap: 56px;
        column-gap: 10px;
    }
    .minbox1 {
        width: 339px;
        height: 259px;
    }
    .chtext {
        margin-top: 56px;
        margin-left: 32px;
    }
    footer {
        width: 769px;
        height: 120px;
    }
    .footer1 {
        margin-top: 43px;
        margin-left: 40px;
    }
    .footer2but {
        margin-top: 36px;
        margin-left: 589px;
    }    
}
@media (width > 1440px ) {
    header{
        column-gap: 829px;
    }
    .box1 {
        margin-left: -650px;
        margin-top: 178px;
    }
    .box1-1 {
        font-size: 56px;
    }
    .box1-2 {
        width: 445px;
        font-size: 18px;
        line-height: 28px; 
    }
    .box2 { 
        margin-top: -500px;
        margin-left: 770px;
    }
    .girlback {
        width: 317px;
        height: 560px;
        border-radius: 158px;
    }
    .girlimg75 {
        width: 349.474px;
        height: 522px;
        margin-top: 40px;
        margin-left: -35px;
    }
    .white1 {
        margin-top: 20px;
        margin-left: 24px;
    }
    .black1 {
        margin-top: 50px;
        margin-left: 24px;
    }
    .course {
        width: 199px;
        height: 120px;
        margin-top: -169px;
        margin-left: -117px;
    }
    .member {
        position: absolute;
        width: 155px;
        height: 120px;
        margin-top: -411px;
        margin-left: 277px;
    }
    .box3 {
        display: grid;
        margin-top: 110px;
        grid-template-areas:'pirveli meore mesame'
                            'meotxe mexute meeqvse';
        row-gap: 80px;
        column-gap: 30px;
    }
    footer {
        width: 1441px;
        height: 120px;
    }
    .footer1 {
        margin-top: 37px;
        margin-left: 165px;
    }
    .footer2but {
        margin-top: 32px;
        margin-left: 1108px;
    }
}