@media (width > 768px ) {
    body {
        
    }
    header{
       column-gap: 460px;
    }
    .header1 {
       margin-top: 31px;
    }
    .header2but {
        margin-top: 24px;
    }
    .box1 {
        margin-left: -300px;
        margin-top: 104px;
    }
    .box1-2 {
        width: 398px;
    }
    .box2 { 
        margin-top: -654px;
        margin-left: 420px;
    }
    .girlback {
        z-index: 2; 
        width: 216.54px;
        height: 382.531px;
        border-radius: 158.5px;
    }
    .bigressquear {
        z-index: -1;
        position: relative;
        display: grid;
        margin-top:-530px ;
        margin-left: 19px;
    }
    .girlimg75 {
        z-index: 3;
        position: relative;
        width: 216.54px;
        height: 382.531px;
        border-radius: 150px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .course {
        z-index: 4;
        position: relative;
        margin-top: -67px;
    }
    .member {
        z-index: 5;
        position: relative;
        margin-top: -393px;
    }
    .box3 {
        display: grid;
        margin-top: 286px;
        grid-template-areas:'pirveli meore'
                            'mesame meotxe'
                            'mexute meeqvse';
        row-gap: 56px;
        column-gap: 10px;
    }
    .minbox1 {
        width: 339px;
        height: 259px;
    }
    .chtext {
        margin-top: 56px;
        margin-left: 32px;
    }
    footer {
        width: 769px;
        height: 120px;
    }
    .footer1 {
        margin-top: 43px;
        margin-left: 40px;
    }
    .footer2but {
        margin-top: 36px;
        margin-left: 589px;
    }    
}
@media (width > 1440px ) {
    header{
        column-gap: 829px;
    }
    .box1 {
        margin-left: -650px;
        margin-top: 178px;
    }
    .box1-1 {
        font-size: 56px;
    }
    .box1-2 {
        width: 445px;
        font-size: 18px;
        line-height: 28px; 
    }
    .box2 { 
        position: absolute;
        margin-top: -1092px;
        margin-left: 689px;
    }
    .bigressquear {
        display: none;
    }
    .bigressquear2 {
        z-index: -1;
        position: relative;
        display: grid;
        margin-top: -778px;
        margin-left: 56px;
    }
    .girlback {
        z-index: 2; 
        width: 317px;
        height: 548px;
        border-radius: 158.5px;
    }
    .girlimg75 {
        z-index: 3;
        position: relative;
        width: 349.474px;
        height: 507px;
        margin-top: 41px;
        margin-left: -19px;
        border-radius: 158.5;
    }
    .white1 {
        margin-top: 20px;
        margin-left: 24px;
    }
    .black1 {
        margin-top: 50px;
        margin-left: 24px;
    }
    .course {
        z-index: 4;
        position: relative;
        width: 199px;
        height: 120px;
        margin-top: -169px;
        margin-left: -117px;
    }
    .member {
        z-index: 5;
        position: relative;
        width: 155px;
        height: 120px;
        margin-top: -461px;
        margin-left: 277px;
    }
    .box3 {
        display: grid;
        margin-top: 110px;
        grid-template-areas:'pirveli meore mesame'
                            'meotxe mexute meeqvse';
        row-gap: 80px;
        column-gap: 30px;
    }
    footer {
        width: 1441px;
        height: 120px;
    }
    .footer1 {
        margin-top: 37px;
        margin-left: 165px;
    }
    .footer2but {
        margin-top: 32px;
        margin-left: 1108px;
    }
}
@media (width > 1520px ) {
    .box2 { 
        position: absolute;
        margin-top: -1092px;
        margin-left: 768px;
    }
    footer {
        width: 1520px;
        height: 120px;
    }
    
}
@media (width > 1900px ) {
    .box2 { 
        position: absolute;
        margin-top: -1092px;
        margin-left: 1150px;
    }
    footer {
        width: 1903px;
        height: 120px;
    }
    .footer2but {
        margin-top: 36px;
        margin-left: 1660px;
    }
}